# Data process and cleaning for VIPR database

In [5]:
from IPython.display import FileLink
import pandas as pd

In [ ]:
metadata_path = "[YOUR PATH TO THE METADATA]"

In [6]:
data = pd.read_csv(metadata_path, sep="\t", low_memory=False)

In [7]:
data.head()

,Genome ID,Genome Name,Other Names,NCBI Taxon ID,Taxon Lineage IDs,Taxon Lineage Names,Superkingdom,Kingdom,Phylum,Class,...,Host Age,Host Health,Host Group,Lab Host,Passage,Other Clinical,Additional Metadata,Comments,Date Inserted,Date Modified
0,10407.119236,Hepatitis B virus Viet_ocHBV111,NaN,10407,10239;2559587;2732397;2732409;2732514;2732515;...,Viruses;Riboviria;Pararnavirae;Artverviricota;...,Viruses,Pararnavirae,Artverviricota,Revtraviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2022-02-17T04:33:34.549Z,2022-02-17T04:33:34.549Z
1,10407.119237,Hepatitis B virus Viet_ocHBV68,NaN,10407,10239;2559587;2732397;2732409;2732514;2732515;...,Viruses;Riboviria;Pararnavirae;Artverviricota;...,Viruses,Pararnavirae,Artverviricota,Revtraviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2022-02-17T04:33:34.722Z,2022-02-17T04:33:34.722Z
2,10407.119238,Hepatitis B virus Viet_ocHBV353,NaN,10407,10239;2559587;2732397;2732409;2732514;2732515;...,Viruses;Riboviria;Pararnavirae;Artverviricota;...,Viruses,Pararnavirae,Artverviricota,Revtraviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2022-02-17T04:33:34.739Z,2022-02-17T04:33:34.739Z
3,10407.119239,Hepatitis B virus Viet_ocHBV261,NaN,10407,10239;2559587;2732397;2732409;2732514;2732515;...,Viruses;Riboviria;Pararnavirae;Artverviricota;...,Viruses,Pararnavirae,Artverviricota,Revtraviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2022-02-17T04:33:34.911Z,2022-02-17T04:33:34.911Z
4,10407.119240,Hepatitis B virus Viet_ocHBV257,NaN,10407,10239;2559587;2732397;2732409;2732514;2732515;...,Viruses;Riboviria;Pararnavirae;Artverviricota;...,Viruses,Pararnavirae,Artverviricota,Revtraviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2022-02-17T04:36:35.044Z,2022-02-17T04:36:35.044Z

## Cleaning of Initial VIPR data
In this section we will clean the dataset to: 
- Optimize memory
- Delete unnecessary columns
- Rename columns to macth Genomic Dash framework template
- Standardize African country names
- Writing GenBank IDs to a .txt file

In [8]:
data.columns

Index(['Genome ID', 'Genome Name', 'Other Names', 'NCBI Taxon ID',
       'Taxon Lineage IDs', 'Taxon Lineage Names', 'Superkingdom', 'Kingdom',
       'Phylum', 'Class', 'Order', 'Family', 'Genus', 'Species',
       'Genome Status', 'Strain', 'Serovar', 'Biovar', 'Pathovar', 'MLST',
       'Segment', 'Subtype', 'H_type', 'N_type', 'H1 Clade Global',
       'H1 Clade US', 'H5 Clade', 'pH1N1-like', 'Lineage', 'Clade', 'Subclade',
       'Other Typing', 'Culture Collection', 'Type Strain', 'Reference',
       'Genome Quality', 'Completion Date', 'Publication', 'Authors',
       'BioProject Accession', 'BioSample Accession', 'Assembly Accession',
       'SRA Accession', 'GenBank Accessions', 'Sequencing Center',
       'Sequencing Status', 'Sequencing Platform', 'Sequencing Depth',
       'Assembly Method', 'Chromosome', 'Plasmids', 'Contigs', 'Size',
       'GC Content', 'Contig L50', 'Contig N50', 'TRNA', 'RRNA', 'Mat Peptide',
       'CDS', 'Coarse Consistency', 'Fine Consistency', 'CheckM Contamination',
       'CheckM Completeness', 'Genome Quality Flags', 'Isolation Source',
       'Isolation Comments', 'Collection Date', 'Collection Year', 'Season',
       'Isolation Country', 'Geographic Group', 'Geographic Location',
       'Other Environmental', 'Host Name', 'Host Common Name', 'Host Gender',
       'Host Age', 'Host Health', 'Host Group', 'Lab Host', 'Passage',
       'Other Clinical', 'Additional Metadata', 'Comments', 'Date Inserted',
       'Date Modified'],
      dtype='object')

In [9]:
# filtering for dengue virus seqs only by using the Species = Dengue virus

data = data[data["Species"] == "Dengue virus"]
data.head()

,Genome ID,Genome Name,Other Names,NCBI Taxon ID,Taxon Lineage IDs,Taxon Lineage Names,Superkingdom,Kingdom,Phylum,Class,...,Host Age,Host Health,Host Group,Lab Host,Passage,Other Clinical,Additional Metadata,Comments,Date Inserted,Date Modified
24,11053.10000,Dengue virus 1,NaN,11053,10239;2559587;2732396;2732406;2732462;2732545;...,Viruses;Riboviria;Orthornavirae;Kitrinoviricot...,Viruses,Orthornavirae,Kitrinoviricota,Flasuviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2020-12-26T14:19:20.086Z,2020-12-26T14:19:20.086Z
25,11053.10000,Dengue virus 1,NaN,11053,10239;2559587;2732396;2732406;2732462;2732545;...,Viruses;Riboviria;Orthornavirae;Kitrinoviricot...,Viruses,Orthornavirae,Kitrinoviricota,Flasuviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2020-12-26T19:23:35.931Z,2020-12-26T19:23:35.931Z
26,11053.10000,Dengue virus 1 Bali03,NaN,11053,10239;2559587;2732396;2732406;2732462;2732545;...,Viruses;Riboviria;Orthornavirae;Kitrinoviricot...,Viruses,Orthornavirae,Kitrinoviricota,Flasuviricetes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-27T20:19:28.456Z,2020-12-27T20:19:28.456Z
27,11053.10000,Dengue virus 1 D1/Myanmar/1508aTw,NaN,11053,10239;2559587;2732396;2732406;2732462;2732545;...,Viruses;Riboviria;Orthornavirae;Kitrinoviricot...,Viruses,Orthornavirae,Kitrinoviricota,Flasuviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2021-01-21T04:02:27.919Z,2021-01-21T04:02:27.919Z
28,11053.10001,Dengue virus 1 D1/Vietnam/1508aTw,NaN,11053,10239;2559587;2732396;2732406;2732462;2732545;...,Viruses;Riboviria;Orthornavirae;Kitrinoviricot...,Viruses,Orthornavirae,Kitrinoviricota,Flasuviricetes,...,NaN,NaN,Human,NaN,NaN,NaN,NaN,NaN,2021-01-21T04:02:28.859Z,2021-01-21T04:02:28.859Z

In [10]:
# deleting unnecesssary cols
data = data.drop(columns = ["Other Names", "NCBI Taxon ID", "Taxon Lineage IDs", "Taxon Lineage Names", 
                        "Superkingdom", "Kingdom", "Phylum", "Class", "Order", "Order", "Family", "Genus",
                        "Genome Status", "Strain", "Serovar", "Biovar", "Pathovar", "MLST", "Segment", "Subtype", 
                        "H_type", "N_type", "H1 Clade Global", "H1 Clade US", "H5 Clade", "pH1N1-like", 
                        "Lineage", "Clade", "Subclade", "Other Typing", "Culture Collection", 
                        "Type Strain", "Reference", "Genome Quality", "Publication", "Authors", 
                        "BioProject Accession", "BioSample Accession", "Assembly Accession", "SRA Accession", 
                        "Sequencing Center", "Sequencing Status", "Sequencing Depth", "Assembly Method",
                        "Chromosome", "Plasmids", "Contigs", "GC Content", "Contig L50", "Contig N50", "TRNA",
                        "RRNA", "Mat Peptide", "CDS", 'Coarse Consistency', "Fine Consistency",
                        "CheckM Contamination", "CheckM Completeness", "Genome Quality Flags", 
                        "Isolation Source", "Isolation Comments", "Collection Year", "Season", 
                        "Geographic Location", "Other Environmental", "Host Gender", "Host Age", 
                        "Host Health", "Host Group", "Lab Host", "Passage", "Other Clinical", 
                        "Additional Metadata", "Comments", "Date Inserted", "Date Modified", 
                        "Sequencing Platform"])

In [11]:
data.head()

,Genome ID,Genome Name,Species,Completion Date,GenBank Accessions,Size,Collection Date,Isolation Country,Geographic Group,Host Name,Host Common Name
24,11053.10000,Dengue virus 1,Dengue virus,2020-11-10T00:00:00Z,MW208042,9592,2018-10-01,Brazil,South America,Homo sapiens,Human
25,11053.10000,Dengue virus 1,Dengue virus,2014-10-30T00:00:00Z,KC692509,10735,2009-05-05,Argentina,South America,Homo sapiens,Human
26,11053.10000,Dengue virus 1 Bali03,Dengue virus,2016-07-26T00:00:00Z,AY705999,1276,NaN,Indonesia,Asia,NaN,NaN
27,11053.10000,Dengue virus 1 D1/Myanmar/1508aTw,Dengue virus,2018-08-17T00:00:00Z,MG894871,1485,2015-08-19,Taiwan,Asia,Homo sapiens,Human
28,11053.10001,Dengue virus 1 D1/Vietnam/1508aTw,Dengue virus,2018-08-17T00:00:00Z,MG894872,1485,2015-08-08,Taiwan,Asia,Homo sapiens,Human

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42790 entries, 24 to 43863
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Genome ID           42790 non-null  float64
 1   Genome Name         42790 non-null  object
 2   Species             42790 non-null  object
 3   Completion Date     42790 non-null  object
 4   GenBank Accessions  42790 non-null  object
 5   Size                42790 non-null  int64
 6   Collection Date     37199 non-null  object
 7   Isolation Country   39758 non-null  object
 8   Geographic Group    39753 non-null  object
 9   Host Name           35585 non-null  object
 10  Host Common Name    36351 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 3.9+ MB

In [13]:
# optimizing memory
data["Species"] = data["Species"].astype("category")
data["Geographic Group"] = data["Geographic Group"].astype("category")
data["Isolation Country"] = data["Isolation Country"].astype("category")
data["Host Name"] = data["Host Name"].astype("category")
data["Host Common Name"] = data["Host Common Name"].astype("category")

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42790 entries, 24 to 43863
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Genome ID           42790 non-null  float64
 1   Genome Name         42790 non-null  object
 2   Species             42790 non-null  category
 3   Completion Date     42790 non-null  object
 4   GenBank Accessions  42790 non-null  object
 5   Size                42790 non-null  int64
 6   Collection Date     37199 non-null  object
 7   Isolation Country   39758 non-null  category
 8   Geographic Group    39753 non-null  category
 9   Host Name           35585 non-null  category
 10  Host Common Name    36351 non-null  category
dtypes: category(5), float64(1), int64(1), object(4)
memory usage: 2.6+ MB

In [15]:
# renaming columns
columns_map = {"GenBank Accessions": "GenBank Accession",
              "Isolation Country": "country",
              "Collection Date": "collection_date"}
data.rename(columns = columns_map, inplace=True)

In [16]:
data.head()

,Genome ID,Genome Name,Species,Completion Date,GenBank Accession,Size,collection_date,country,Geographic Group,Host Name,Host Common Name
24,11053.10000,Dengue virus 1,Dengue virus,2020-11-10T00:00:00Z,MW208042,9592,2018-10-01,Brazil,South America,Homo sapiens,Human
25,11053.10000,Dengue virus 1,Dengue virus,2014-10-30T00:00:00Z,KC692509,10735,2009-05-05,Argentina,South America,Homo sapiens,Human
26,11053.10000,Dengue virus 1 Bali03,Dengue virus,2016-07-26T00:00:00Z,AY705999,1276,NaN,Indonesia,Asia,NaN,NaN
27,11053.10000,Dengue virus 1 D1/Myanmar/1508aTw,Dengue virus,2018-08-17T00:00:00Z,MG894871,1485,2015-08-19,Taiwan,Asia,Homo sapiens,Human
28,11053.10001,Dengue virus 1 D1/Vietnam/1508aTw,Dengue virus,2018-08-17T00:00:00Z,MG894872,1485,2015-08-08,Taiwan,Asia,Homo sapiens,Human

## Standardizing country names

In [17]:
# dictionary to standardize African country names

standardize_africa_countries = {"People’s Democratic Republic of Algeria": "Algeria", 
                                "Republic of Angola": "Angola", "Republic of Benin": "Benin", 
                                "Republic of Botswana": "Botswana", "Republic of Burundi": "Burundi", 
                                "Republic of Cameroon": "Cameroon", "Republic of Cabo Verde": "Cabo Verde",
                                "Cape Verde": "Cabo Verde","Republic of Chad": "Chad", 
                                "Union of the Comoros": "Comoros", "DR Congo": "Democratic Republic of the Congo",
                                "Republic of Djibouti": "Djibouti", "Arab Republic of Egypt": "Egypt",
                                "Republic of Equatorial Guinea": "Equatorial Guinea", 
                                "State of Eritrea": "Eritrea", "Kingdom of eSwatini": "eSwatini", 
                                "Swaziland": "eSwatini", "Federal Democratic Republic of Ethiopia": "Ethiopia", 
                                "Gabonese Republic": "Gabon", "Republic of Gambia": "Gambia", 
                                "Republic of Ghana": "Ghana", "Republic of Guinea": "Guinea", 
                                "Republic of Guinea-Bissau": "Guinea-Bissau",
                                "Republic of Côte d\"Ivoire": "Cote d\"Ivoire", "Ivory Coast": "Cote d\"Ivoire",
                                "Republic of Kenya": "Kenya", "Kingdom of Lesotho": "Lesotho",
                                "Republic of Liberia": "Liberia", "State of Libya": "Libya",
                                "Republic of Madagascar": "Madagascar", "Republic of Malawi": "Malawi",
                                "Republic of Mali": "Mali", "Islamic Republic of Mauritania": "Mauritania",
                                "Republic of Mauritius": "Mauritius", "Kingdom of Morocco": "Morocco",
                                "Republic of Mozambique": "Mozambique", "Republic of Namibia": "Namibia",
                                "Republic of Niger": "Niger", "Federal Republic of Nigeria": "Nigeria",
                                "Congo":"Republic of the Congo", "La Reunion": "Reunion",
                                "Republic of Rwanda": "Rwanda",
                                "Democratic Republic of São Tomé and Principe": "São Tomé and Principe",
                                "Republic of Senegal": "Senegal", "Republic of Seychelles": "Seychelles",
                                "Republic of Sierra Leone": "Sierra Leone",
                                "Federal Republic of Somalia": "Somalia", 
                                "Republic of South Africa": "South Africa",
                                "Republic of South Sudan": "South Sudan", "Republic of the Sudan": "Sudan",
                                "United Republic of Tanzania": "Tanzania", "Togolese": "Togo",
                                "Togolese Republic": "Togo", "Republic of Tunisia": "Tunisia",
                                "Republic of Uganda": "Uganda", "Republic of Zambia": "Zambia",
                                "Republic of Zimbabwe": "Zimbabwe"}

In [18]:
# standardizing country names

data.replace({"country": standardize_africa_countries}, inplace = True)

In [19]:
# checking if African countries are in data set

data[data["country"].isin(["Central African Republic"])]

Empty DataFrame
Columns: [Genome ID, Genome Name, Species, Completion Date, GenBank Accession, Size, collection_date, country, Geographic Group, Host Name, Host Common Name]
Index: []

In [20]:
african_countries = ["Algeria", "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cameroon", 
                     "Cabo Verde", "Central African Republic", "Chad", "Comoros", 
                     "Democratic Republic of the Congo", "Djibouti", "Egypt", "Equatorial Guinea", "Eritrea", 
                     "eSwatini", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", 
                     "Cote d\"Ivoire", "Kenya", "Lesotho", "Liberia", "Libya", "Madagascar", "Malawi", 
                     "Mali", "Mauritania", "Mauritius", "Morocco", "Mozambique", "Namibia","Niger", "Nigeria", 
                     "Republic of the Congo", "Reunion", "Rwanda", "São Tomé and Principe", "Senegal", 
                     "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", 
                     "Tanzania", "Togo", "Tunisia", "Uganda", "Zambia", "Zimbabwe"]

In [21]:
len(african_countries)

55

In [22]:
# filtering for African countries only

df_africa = data[data["country"].isin(african_countries)]

In [23]:
df_africa.head()

,Genome ID,Genome Name,Species,Completion Date,GenBank Accession,Size,collection_date,country,Geographic Group,Host Name,Host Common Name
1096,11053.10967,Dengue virus 1 SF729VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502874,216,2005,Madagascar,Africa,Homo sapiens,Human
1112,11053.10981,Dengue virus 1 CNM664VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502864,216,2006,Cameroon,Africa,Homo sapiens,Human
1113,11053.10982,Dengue virus 1 CNM399VI07,Dengue virus,2016-07-24T00:00:00Z,FJ502863,216,2007,Nigeria,Africa,Homo sapiens,Human
1157,11053.11020,Dengue virus 1 AO/DB136/2013,Dengue virus,2014-11-23T00:00:00Z,KM277614,1485,2013,Angola,Africa,Homo sapiens,Human
1160,11053.11023,Dengue virus 1 AO/DB135/2013,Dengue virus,2014-11-23T00:00:00Z,KM277613,1485,2013,Angola,Africa,Homo sapiens,Human

In [24]:
len(df_africa)

877

In [25]:
# dropping duplicates from the GenBank Accessions col

df_africa.drop_duplicates(subset = ["GenBank Accession"], keep = "first", inplace=True)

/tmp/ipykernel_133/2721846101.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_africa.drop_duplicates(subset = ["GenBank Accession"], keep = "first", inplace=True)

In [26]:
len(df_africa)

873

In [27]:
# exporting africa dataset

df_africa.to_csv("Africa_dengue.csv", index=False)

In [28]:
# grabbing all the GenBank accession numbers 

genbank = df_africa["GenBank Accession"].to_list()

In [29]:
# writing to .txt file

with open("genbank_accession.txt", "w") as f:
    f.write("\n".join(genbank))

In [30]:
# Downloading files
dataset_file = "Africa_dengue.csv"
genbank_file = "genbank_accession.txt"

display(FileLink(dataset_file))
display(FileLink(genbank_file))

/home/jupyter/VEME 2023 Pathogen Dashboards/edit/Africa_dengue.csv

/home/jupyter/VEME 2023 Pathogen Dashboards/edit/genbank_accession.txt

## Running Genome Detective
- Downloading all the fasta files for Africa from Genbank
- Running through the dengue typing tool on GD

In [31]:
# downloading fasta files from NCBI 

from Bio import Entrez

Entrez.email = "your_email"

genbank_ids = genbank  

db = "nucleotide"  
rettype = "fasta"  
retmode = "text"  

sequences = []  

for genbank_id in genbank_ids:
    handle = Entrez.efetch(db=db, id=genbank_id, rettype=rettype, retmode=retmode)
    sequence = handle.read()  
    handle.close()
    sequences.append(sequence)
    
output_file = "dengue.fasta"  

with open(output_file, "w") as file:
    file.write("".join(sequences))

print(f"Sequences downloaded and saved to {output_file}")

Sequences downloaded and saved to dengue.fasta

In [32]:
#Downloading fasta file
FileLink("dengue.fasta")

/home/jupyter/VEME 2023 Pathogen Dashboards/edit/dengue.fasta

### RUN ON GENOME DETECTIVE

- Drop the text file with all the fasta sequences into the Genome Detective Dengue Virus Typing Tool
- https://www.genomedetective.com/app/typingtool/dengue/

# Data process for data from Genome Detective (GD)
- Reading in and editing the GD data
- Merging cleaned and subsetted VIPR data with newly run GD data
- Changing the serotypes and genotypes

In [33]:
GD_data = pd.read_csv("gs://fc-c4948adf-e9ec-4849-86cd-eee5235c0bae/Backup Files/results.csv")

In [34]:
GD_data.head()

,name,assignment,length,begin,end,species,species-score,type,type support,subtype,subtype support
0,FJ502874.1,1IV,216,2196.0,2411.0,dengue virus type 1,NaN,DENV-1 Genotype IV,86.0,NaN,NaN
1,FJ502864.1,Unassigned,216,2196.0,2411.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN
2,FJ502863.1,1V,216,2196.0,2411.0,dengue virus type 1,NaN,DENV-1 Genotype V,80.0,NaN,NaN
3,KM277614.1,Unassigned,1485,935.0,2419.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN
4,KM277613.1,Unassigned,1485,935.0,2419.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN

In [35]:
# changing the names back to the original GenBank accession IDs
# defining function to change this

def fix_name(row):
    name = row[0]
    
    if "." in name:
        return name.split(".")[0]
    
    else:
        return name

In [36]:
# executing function

GD_data["name"] = GD_data.apply(fix_name, axis = "columns")
GD_data.head()

,name,assignment,length,begin,end,species,species-score,type,type support,subtype,subtype support
0,FJ502874,1IV,216,2196.0,2411.0,dengue virus type 1,NaN,DENV-1 Genotype IV,86.0,NaN,NaN
1,FJ502864,Unassigned,216,2196.0,2411.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN
2,FJ502863,1V,216,2196.0,2411.0,dengue virus type 1,NaN,DENV-1 Genotype V,80.0,NaN,NaN
3,KM277614,Unassigned,1485,935.0,2419.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN
4,KM277613,Unassigned,1485,935.0,2419.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN

In [37]:
# dropping duplicates from the GD results using GenBank Accessions col

GD_data.drop_duplicates(subset = ["name"], keep = "first")

,name,assignment,length,begin,end,species,species-score,type,type support,subtype,subtype support
0,FJ502874,1IV,216,2196.0,2411.0,dengue virus type 1,NaN,DENV-1 Genotype IV,86.0,NaN,NaN
1,FJ502864,Unassigned,216,2196.0,2411.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN
2,FJ502863,1V,216,2196.0,2411.0,dengue virus type 1,NaN,DENV-1 Genotype V,80.0,NaN,NaN
3,KM277614,Unassigned,1485,935.0,2419.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN
4,KM277613,Unassigned,1485,935.0,2419.0,dengue virus type 1,NaN,Could not assign,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
868,KM892495,2II,500,145.0,644.0,dengue virus type 2,NaN,DENV-2 Genotype II - Cosmopolitan,100.0,NaN,NaN
869,KU886233,2II,500,145.0,644.0,dengue virus type 2,NaN,DENV-2 Genotype II - Cosmopolitan,100.0,NaN,NaN
870,DQ016638,1I,306,2196.0,2501.0,dengue virus type 1,NaN,DENV-1 Genotype I,100.0,NaN,NaN
871,DQ016641,1I,306,2196.0,2501.0,dengue virus type 1,NaN,DENV-1 Genotype I,100.0,NaN,NaN
872,DQ016643,2V,306,2198.0,2503.0,dengue virus type 2,NaN,DENV-2 Genotype V - Asian I,98.0,NaN,NaN

In [38]:
# deleting unnecesssary cols

GD_data = GD_data.drop(columns = ["assignment", "begin", "end", "species-score", "type support", 
                                "subtype", "subtype support"])
GD_data.head()

       name  length              species                type
0  FJ502874     216  dengue virus type 1  DENV-1 Genotype IV
1  FJ502864     216  dengue virus type 1    Could not assign
2  FJ502863     216  dengue virus type 1   DENV-1 Genotype V
3  KM277614    1485  dengue virus type 1    Could not assign
4  KM277613    1485  dengue virus type 1    Could not assign

## Genomic Dash Framework metadata template

To fit on Genomic Dash Framework your csv file should have at least the following columns: 
- category_1: This should be the pathogen of your dashboard. For this tutorial we are going to use Dengue 1 (DENV-1)
- category_2: The sub-categories you want to show, named as will be shown in the dashboard
- date: date formatted
- region: Continent of the data
- country
- province: optional

In [39]:
# renaming cols

GD_data.rename(columns = {"name": "GenBank Accession"}, inplace = True)
GD_data.rename(columns = {"species": "category_1"}, inplace = True)
GD_data.rename(columns = {"type": "category_2"}, inplace = True)

In [40]:
GD_data.head()

  GenBank Accession  length           category_1          category_2
0          FJ502874     216  dengue virus type 1  DENV-1 Genotype IV
1          FJ502864     216  dengue virus type 1    Could not assign
2          FJ502863     216  dengue virus type 1   DENV-1 Genotype V
3          KM277614    1485  dengue virus type 1    Could not assign
4          KM277613    1485  dengue virus type 1    Could not assign

In [41]:
# checking if the GD report has missing values in the assignment of the serotype (category_1)
# need to fill them with unassigned

GD_data["category_1"].hasnans

True

In [42]:
# if true run...

GD_data["category_1"] = GD_data["category_1"].fillna("Could not assign")

In [43]:
# checking if the GD report has missing values in the assignment of the genotype (category_2)
# need to fill them with unassigned

GD_data["category_2"].hasnans

True

In [44]:
# if true run...

GD_data["category_2"] = GD_data["category_2"].fillna("Could not assign")

# Merging the VIPR and GD data

In [45]:
df_africa.head()

,Genome ID,Genome Name,Species,Completion Date,GenBank Accession,Size,collection_date,country,Geographic Group,Host Name,Host Common Name
1096,11053.10967,Dengue virus 1 SF729VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502874,216,2005,Madagascar,Africa,Homo sapiens,Human
1112,11053.10981,Dengue virus 1 CNM664VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502864,216,2006,Cameroon,Africa,Homo sapiens,Human
1113,11053.10982,Dengue virus 1 CNM399VI07,Dengue virus,2016-07-24T00:00:00Z,FJ502863,216,2007,Nigeria,Africa,Homo sapiens,Human
1157,11053.11020,Dengue virus 1 AO/DB136/2013,Dengue virus,2014-11-23T00:00:00Z,KM277614,1485,2013,Angola,Africa,Homo sapiens,Human
1160,11053.11023,Dengue virus 1 AO/DB135/2013,Dengue virus,2014-11-23T00:00:00Z,KM277613,1485,2013,Angola,Africa,Homo sapiens,Human

In [46]:
GD_data.head()

  GenBank Accession  length           category_1          category_2
0          FJ502874     216  dengue virus type 1  DENV-1 Genotype IV
1          FJ502864     216  dengue virus type 1    Could not assign
2          FJ502863     216  dengue virus type 1   DENV-1 Genotype V
3          KM277614    1485  dengue virus type 1    Could not assign
4          KM277613    1485  dengue virus type 1    Could not assign

In [47]:
final_data = pd.merge(df_africa, GD_data, on = "GenBank Accession")

In [48]:
final_data.head()

,Genome ID,Genome Name,Species,Completion Date,GenBank Accession,Size,collection_date,country,Geographic Group,Host Name,Host Common Name,length,category_1,category_2
0,11053.10967,Dengue virus 1 SF729VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502874,216,2005,Madagascar,Africa,Homo sapiens,Human,216,dengue virus type 1,DENV-1 Genotype IV
1,11053.10981,Dengue virus 1 CNM664VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502864,216,2006,Cameroon,Africa,Homo sapiens,Human,216,dengue virus type 1,Could not assign
2,11053.10982,Dengue virus 1 CNM399VI07,Dengue virus,2016-07-24T00:00:00Z,FJ502863,216,2007,Nigeria,Africa,Homo sapiens,Human,216,dengue virus type 1,DENV-1 Genotype V
3,11053.11020,Dengue virus 1 AO/DB136/2013,Dengue virus,2014-11-23T00:00:00Z,KM277614,1485,2013,Angola,Africa,Homo sapiens,Human,1485,dengue virus type 1,Could not assign
4,11053.11023,Dengue virus 1 AO/DB135/2013,Dengue virus,2014-11-23T00:00:00Z,KM277613,1485,2013,Angola,Africa,Homo sapiens,Human,1485,dengue virus type 1,Could not assign

In [49]:
# dropping duplicates

final_data.drop_duplicates(["GenBank Accession"], keep = "first")

,Genome ID,Genome Name,Species,Completion Date,GenBank Accession,Size,collection_date,country,Geographic Group,Host Name,Host Common Name,length,category_1,category_2
0,11053.10967,Dengue virus 1 SF729VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502874,216,2005,Madagascar,Africa,Homo sapiens,Human,216,dengue virus type 1,DENV-1 Genotype IV
1,11053.10981,Dengue virus 1 CNM664VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502864,216,2006,Cameroon,Africa,Homo sapiens,Human,216,dengue virus type 1,Could not assign
2,11053.10982,Dengue virus 1 CNM399VI07,Dengue virus,2016-07-24T00:00:00Z,FJ502863,216,2007,Nigeria,Africa,Homo sapiens,Human,216,dengue virus type 1,DENV-1 Genotype V
3,11053.11020,Dengue virus 1 AO/DB136/2013,Dengue virus,2014-11-23T00:00:00Z,KM277614,1485,2013,Angola,Africa,Homo sapiens,Human,1485,dengue virus type 1,Could not assign
4,11053.11023,Dengue virus 1 AO/DB135/2013,Dengue virus,2014-11-23T00:00:00Z,KM277613,1485,2013,Angola,Africa,Homo sapiens,Human,1485,dengue virus type 1,Could not assign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
868,12637.37810,Dengue virus DENV-2/TAN/IST/2014,Dengue virus,2016-12-31T00:00:00Z,KM892495,500,2014-02,Tanzania,Africa,Homo sapiens,Human,500,dengue virus type 2,DENV-2 Genotype II - Cosmopolitan
869,12637.62300,Dengue virus DENV-2/TAN/KCMC/2014,Dengue virus,2018-03-01T00:00:00Z,KU886233,500,2014-06,Tanzania,Africa,Homo sapiens,Human,500,dengue virus type 2,DENV-2 Genotype II - Cosmopolitan
870,12637.72700,Dengue virus,Dengue virus,2016-07-26T00:00:00Z,DQ016638,306,NaN,Kenya,Africa,Homo sapiens,Human,306,dengue virus type 1,DENV-1 Genotype I
871,12637.73300,Dengue virus,Dengue virus,2016-07-26T00:00:00Z,DQ016641,306,NaN,Kenya,Africa,Homo sapiens,Human,306,dengue virus type 1,DENV-1 Genotype I
872,12637.73700,Dengue virus,Dengue virus,2016-07-26T00:00:00Z,DQ016643,306,NaN,Sudan,Africa,Homo sapiens,Human,306,dengue virus type 2,DENV-2 Genotype V - Asian I

In [50]:
# checking if the data has -N/A- in collection_date col

final_data["collection_date"].isin(["NaN"]).value_counts()

False    873
Name: collection_date, dtype: int64

In [51]:
# if true, replacing -N/A- with null values 

# final_df["collection_date"] = final_df["collection_date"].replace("NaN", None)

In [52]:
final_data["collection_date"] = pd.to_datetime(final_data["collection_date"], yearfirst = True)

In [53]:
final_data["collection_date"].head()

0   2005-01-01
1   2006-01-01
2   2007-01-01
3   2013-01-01
4   2013-01-01
Name: collection_date, dtype: datetime64[ns]

## Changing the Serotypes and Genotypes

In [54]:
# checking if there are NaNs

final_data["category_1"].hasnans

False

In [55]:
# if True run...

# final_df["lineages"] = final_df["lineages"].fillna("Unassigned")

In [56]:
final_data["category_1"].value_counts()

dengue virus type 1    458
dengue virus type 2    256
dengue virus type 3    136
dengue virus type 4     15
Could not assign         8
Name: category_1, dtype: int64

For this tutorial we are only interested on Dengue virus type 1. So, let's filter the dataset

In [57]:
dengue_1 = final_data[final_data["category_1"] == "dengue virus type 1"]

In [58]:
dengue_1["category_2"].value_counts()

Related to but not part of DENV-1 Genotype III    362
Could not assign                                   45
DENV-1 Genotype I                                  26
DENV-1 Genotype IV                                 11
DENV-1 Genotype V                                   6
DENV-1 Genotype II                                  5
DENV-1 Genotype III                                 2
Related to but not part of DENV-1 Genotype V        1
Name: category_2, dtype: int64

In [59]:
# defining function to change genotype names
# row number needs to be the col = variants

def standardize_genotype(row):
    genotype = row["category_2"]
    
    if genotype == "Related to but not part of DENV-1 Genotype III":
        return "Unassigned"
    elif genotype == "DENV-1 Genotype I":
        return "Genotype I"
    elif genotype == "DENV-1 Genotype II":
        return "Genotype II"
    elif genotype == "DENV-1 Genotype III":
        return "Genotype III"
    elif genotype == "DENV-1 Genotype IV":
        return "Genotype IV"
    elif genotype == "DENV-1 Genotype V":
        return "Genotype V"
    elif genotype == "Could not assign":
        return "Unassigned"
    else:
        return genotype

In [60]:
dengue_1["category_2"] = dengue_1.apply(standardize_genotype, axis = "columns")

/tmp/ipykernel_133/2468620654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dengue_1["category_2"] = dengue_1.apply(standardize_genotype, axis = "columns")

In [61]:
dengue_1.head()

,Genome ID,Genome Name,Species,Completion Date,GenBank Accession,Size,collection_date,country,Geographic Group,Host Name,Host Common Name,length,category_1,category_2
0,11053.10967,Dengue virus 1 SF729VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502874,216,2005-01-01,Madagascar,Africa,Homo sapiens,Human,216,dengue virus type 1,Genotype IV
1,11053.10981,Dengue virus 1 CNM664VI06,Dengue virus,2016-07-24T00:00:00Z,FJ502864,216,2006-01-01,Cameroon,Africa,Homo sapiens,Human,216,dengue virus type 1,Unassigned
2,11053.10982,Dengue virus 1 CNM399VI07,Dengue virus,2016-07-24T00:00:00Z,FJ502863,216,2007-01-01,Nigeria,Africa,Homo sapiens,Human,216,dengue virus type 1,Genotype V
3,11053.11020,Dengue virus 1 AO/DB136/2013,Dengue virus,2014-11-23T00:00:00Z,KM277614,1485,2013-01-01,Angola,Africa,Homo sapiens,Human,1485,dengue virus type 1,Unassigned
4,11053.11023,Dengue virus 1 AO/DB135/2013,Dengue virus,2014-11-23T00:00:00Z,KM277613,1485,2013-01-01,Angola,Africa,Homo sapiens,Human,1485,dengue virus type 1,Unassigned

In [62]:
# Setting date column name
dengue_1["date"] = dengue_1["collection_date"]

/tmp/ipykernel_133/311299808.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dengue_1["date"] = dengue_1["collection_date"]

In [ ]:
output_file_path = "[PATH TO THE FILE]"

In [63]:
dengue_1.to_csv("dengue_1.csv")

In [64]:
display(FileLink(dengue_1))

/home/jupyter/VEME 2023 Pathogen Dashboards/edit/genbank_accession.txt